// Color
$clr-primary: #9356dc;
$clr-secondary: #FF79DA;
$clr-tertiary: #98e2cf;

$clr-primary-light: lighten($clr-primary,5%);
$clr-secondary-light: lighten($clr-secondary,5%);

$clr-bg-dark: #353535;
$clr-bg-regular: #EAEAEA;
$clr-bg-light: #F6F6F6;

// Font family
$ff-logo: "Shrikhand", "Roboto", sans-serif;
$ff-regular: "Roboto", sans-serif;

// Font size
$fs-900: 1.875rem;
$fs-800: 1.5rem;
$fs-700: 1.375rem;
$fs-600: 1.25rem;
$fs-500: 1.125rem;
$fs-400: 1rem;
$fs-300: 0.875rem;

// Font weight
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 600;
