@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&family=Shrikhand&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  outline: none;
}

form input {
  font-family: inherit;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

:root {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

img {
  width: 100%;
}

:root {
  font-size: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.header-logo, .footer__logo {
  font-family: "Shrikhand", "Roboto", sans-serif;
}

.primary-header {
  position: relative;
}

.homepage .primary-header {
  -webkit-box-shadow: 0px 3px 3px 0px #ccc;
  -moz-box-shadow: 0px 3px 3px 0px #ccc;
  box-shadow: 0px 3px 3px 0px #ccc;
}

.header-logo {
  width: 12rem;
  margin: 0 auto;
  padding: 1.3rem 0 0.8rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.875rem;
  color: black;
}

.footer {
  padding: 1.6rem;
  background-color: #353535;
  color: #f6f6f6;
}
.footer__container {
  padding-bottom: 0.3rem;
}
.footer__logo {
  padding-bottom: 1.3rem;
  font-size: 1.125rem;
}
.footer__links li {
  padding: 0.3rem 0;
  font-size: 1rem;
}
.footer__links i {
  font-size: 0.875rem;
  padding-right: 0.4rem;
}

.footer__links li:nth-child(3),
.footer__links li:last-child {
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    text-align: center;
  }

  .footer__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
  }
}
.loader-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: #f6f6f6;
  animation: disappearance 1500ms ease-in 2000ms forwards;
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #9356dc;
  border-radius: 50%;
  animation: loader 1000ms linear infinite;
}

.loader div:nth-child(1) {
  animation-delay: 0s;
  background: #9356dc;
  top: 37px;
  left: 66px;
}

.loader div:nth-child(2) {
  background: #9597d6;
  animation-delay: -83ms;
  top: 22px;
  left: 62px;
}

.loader div:nth-child(3) {
  background: #96b8d3;
  animation-delay: -167ms;
  top: 11px;
  left: 52px;
}

.loader div:nth-child(4) {
  background: #97bed3;
  animation-delay: -250ms;
  top: 7px;
  left: 37px;
}

.loader div:nth-child(5) {
  background: #98e2cf;
  animation-delay: -333ms;
  top: 11px;
  left: 22px;
}

.loader div:nth-child(6) {
  background: #a6c6d0;
  animation-delay: -417ms;
  top: 22px;
  left: 11px;
}

.loader div:nth-child(7) {
  background: #c984d5;
  animation-delay: -500ms;
  top: 37px;
  left: 7px;
}

.loader div:nth-child(8) {
  background: #e748d8;
  animation-delay: -583ms;
  top: 52px;
  left: 11px;
}

.loader div:nth-child(9) {
  background: #ff19da;
  animation-delay: -666ms;
  top: 62px;
  left: 22px;
}

.loader div:nth-child(10) {
  background: #e02ada;
  animation-delay: -750ms;
  top: 66px;
  left: 37px;
}

.loader div:nth-child(11) {
  background: #bd3edb;
  animation-delay: -833ms;
  top: 62px;
  left: 52px;
}

.loader div:nth-child(12) {
  background: #a44cdc;
  animation-delay: -916ms;
  top: 52px;
  left: 62px;
}

@keyframes loader {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.45);
  }
}
@keyframes disappearance {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/* ******************************** */
/*           Back button           */
/* ******************************** */
.back-btn {
  width: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  left: 1.5rem;
}
.back-btn i {
  font-size: 1.5rem;
}

/* ******************************** */
/*         Primary section         */
/* ******************************** */
.primary-btn {
  padding: 1.1rem 1.5rem;
  margin: 1rem 0;
  background: linear-gradient(350deg, #9356dc, #ff79da);
  border-radius: 9999px;
  color: white;
  -webkit-box-shadow: 0px 5px 10px 0px #999;
  -moz-box-shadow: 0px 5px 10px 0px #999;
  box-shadow: 0px 5px 10px 0px #999;
  outline: none;
  transition: all 150ms ease-in;
}
.primary-btn:hover, .primary-btn:focus, .primary-btn:active {
  background: linear-gradient(170deg, #ff93e1, #a16be0);
  color: white;
  -webkit-box-shadow: 0px 8px 15px 0px #999;
  -moz-box-shadow: 0px 8px 15px 0px #999;
  box-shadow: 0px 8px 15px 0px #999;
}

/* ******************************** */
/*         Favorite button         */
/* ******************************** */
.favorite-btn {
  width: 2rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.favorite-btn__icon {
  position: absolute;
  font-size: 1.5rem;
}
.favorite-btn__icon--unchecked {
  transform: scale(1);
  transition: transform 150ms ease-in;
}
.favorite-btn__icon--checked {
  opacity: 0;
  background: linear-gradient(190deg, #9356dc, #ff79da);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.favorite-btn:hover .favorite-btn__icon--unchecked {
  transform: scale(0);
}
.favorite-btn:hover .favorite-btn__icon--checked {
  transform: scale(0);
  animation: favorite 150ms ease-out 150ms both;
}

@keyframes favorite {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.location-search {
  background-color: #eaeaea;
}

.location-form {
  width: 12rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #353535;
  padding: 1rem 0;
}
.location-form__label {
  width: 20%;
  text-align: center;
  font-size: 1rem;
}
.location-form__input {
  width: 80%;
  padding-left: 0.2rem;
  color: #353535;
  font-weight: 600;
  font-size: 1rem;
}

.step-item {
  width: calc(100% - 0.8rem);
  max-width: 17rem;
  margin: 0.6rem 0 0.6rem 1rem;
  padding: 1.8rem 0.5rem 1.8rem 1.8rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  background-color: #f6f6f6;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 3px 6px 0px #ccc;
  -moz-box-shadow: 0px 3px 6px 0px #ccc;
  box-shadow: 0px 3px 6px 0px #ccc;
  transition: all 150ms ease-in;
}
.step-item__number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -0.8rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
  font-size: 0.938rem;
}
.step-item__logo {
  color: rgba(0, 0, 0, 0.5);
}
.step-item__text {
  padding-left: 1.5rem;
  font-weight: 600;
}

.step-item:hover,
.step-item:focus,
.step:active {
  background-color: #f2eafb;
  outline: none;
}
.step-item:hover .step-item__logo,
.step-item:focus .step-item__logo,
.step:active .step-item__logo {
  color: #9356dc;
}

.rest-card {
  position: relative;
  margin: 1rem 0;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 5px 10px 0px #999;
  -moz-box-shadow: 0px 5px 10px 0px #999;
  box-shadow: 0px 5px 10px 0px #999;
  transition: all 150ms ease-in;
  z-index: 0;
}
.rest-card:hover {
  -webkit-box-shadow: 0px 8px 15px 0px #999;
  -moz-box-shadow: 0px 8px 15px 0px #999;
  box-shadow: 0px 8px 15px 0px #999;
}
.rest-card__image {
  height: 11rem;
}
.rest-card__image img {
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.rest-card__body {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.rest-card__title {
  padding-bottom: 0.5rem;
}
.rest-card__new-flag {
  padding: 0.5rem 0.8rem 0.4rem;
  position: absolute;
  top: 0.9rem;
  right: 0.7rem;
  background-color: #98e2cf;
  border-radius: 0.1rem;
  color: #00876c;
  font-size: 0.938rem;
  font-weight: 600;
}
.rest-card__btn-container {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .rest-card {
    margin: 0;
    min-width: 20rem;
    max-width: 26rem;
    flex: 1 0 20rem;
  }
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 0.9rem;
  padding: 0.9rem 0.7rem 0.8rem;
  background-color: white;
  border-radius: 1rem;
  -webkit-box-shadow: -2px 4px 8px 4px rgba(2, 1, 1, 0.04);
  -moz-box-shadow: -2px 4px 8px 4px rgba(2, 1, 1, 0.04);
  box-shadow: -2px 4px 8px 4px rgba(2, 1, 1, 0.04);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppearance 1000ms ease-out both;
}
.menu-item:first-child {
  margin-top: 1.5rem;
}
.menu-item__designation {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  transition: margin-right 400ms ease-in-out;
}
.menu-item__title {
  padding-bottom: 0.5rem;
  font-size: 1.125rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-item__description {
  font-size: 0.938rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-item__price {
  padding: 2rem 0 0.6rem 2rem;
  align-self: flex-end;
  font-size: 1rem;
  font-weight: 600;
  transition: transform 400ms ease-in-out;
}
.menu-item__checked {
  display: grid;
  place-items: center;
  width: 3.6rem;
  height: 100%;
  position: absolute;
  right: -3.6rem;
  top: 0;
  background-color: #98e2cf;
  transform: translateX(0);
  transition: transform 400ms ease-in-out;
}
.menu-item__checked i {
  color: white;
  font-size: 1.4rem;
  transform: rotate(-360deg);
  transition: transform 400ms ease-in-out;
}
.menu-item:hover .menu-item__designation {
  margin-right: 3rem;
}
.menu-item:hover .menu-item__price {
  transform: translateX(-3.6rem);
}
.menu-item:hover .menu-item__checked {
  transform: translateX(-3.6rem);
}
.menu-item:hover .menu-item__checked i {
  transform: rotate(0deg);
}
.menu-item__1 {
  animation-delay: 0ms;
}
.menu-item__2 {
  animation-delay: 150ms;
}
.menu-item__3 {
  animation-delay: 300ms;
}
.menu-item__4 {
  animation-delay: 450ms;
}
.menu-item__5 {
  animation-delay: 600ms;
}
.menu-item__6 {
  animation-delay: 750ms;
}
.menu-item__7 {
  animation-delay: 900ms;
}
.menu-item__8 {
  animation-delay: 1050ms;
}
.menu-item__9 {
  animation-delay: 1200ms;
}
.menu-item__10 {
  animation-delay: 1350ms;
}

@keyframes itemAppearance {
  0% {
    opacity: 0;
    transform: translateY(0.8rem);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
.homepage .back-btn {
  display: none;
}

/* ******************************** */
/*           Hero section           */
/* ******************************** */
.hero {
  background-color: #f6f6f6;
  padding: 2.5rem 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 3rem 0;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    padding: 4rem 0;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    padding: 5rem 0;
  }
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.hero__title {
  line-height: 1.8rem;
  width: 15rem;
}
@media screen and (min-width: 500px) {
  .hero__title {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    color: #f6f6f6;
    padding: 0.5rem 0;
  }
}
@media screen and (min-width: 1024px) {
  .hero__title {
    font-size: 1.75rem;
    padding: 1rem 0;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    font-size: 1.875rem;
    padding: 1.5rem 0;
  }
}
.hero__text {
  padding: 1.2rem 0;
  font-size: 1.125rem;
  font-weight: 300;
}
@media screen and (max-width: 340px) {
  .hero__text {
    font-size: 1rem;
  }
}
@media screen and (min-width: 450px) {
  .hero__text {
    max-width: 20rem;
  }
}
@media screen and (min-width: 768px) {
  .hero__text {
    color: #f6f6f6;
  }
}
@media screen and (min-width: 1024px) {
  .hero__text {
    font-size: 1.25rem;
    max-width: 28rem;
  }
}
@media screen and (min-width: 1440px) {
  .hero__text {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05)), url("../../public/img/hero/hero-800w.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05)), url("../../public/img/hero/hero-1440w.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05)), url("../../public/img/hero/hero-2200w.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
  }
}

@media screen and (min-width: 768px) {
  .hero__btn,
.hero__btn:hover {
    box-shadow: none;
  }
}

/* ******************************** */
/*           Step section           */
/* ******************************** */
.step-section {
  padding: 1rem;
}
@media screen and (min-width: 1024px) {
  .step-section {
    padding: 3.5rem 1rem;
  }
}
.step-section .step-section-title {
  align-self: flex-start;
  padding-top: 2rem;
}
@media screen and (min-width: 576px) {
  .step-section .step-section-title {
    text-align: center;
  }
}
.step-section .step-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30rem;
  margin: 0 auto;
  padding-top: 1.2rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .step-section .step-items-container {
    flex-direction: row;
    max-width: 1340px;
    gap: 2rem;
    justify-content: center;
  }
}

/* ******************************** */
/*       Restaurant section         */
/* ******************************** */
.rest-section {
  padding: 1.2rem;
  padding-bottom: 3rem;
  background-color: #f6f6f6;
}
@media screen and (min-width: 768px) {
  .rest-section {
    padding-bottom: 4rem;
  }
}
.rest-section .rest-section-title {
  padding-top: 2.3rem;
  padding-bottom: 0.6rem;
}
@media screen and (min-width: 576px) {
  .rest-section .rest-section-title {
    text-align: center;
  }
}
.rest-section .rest-cards-container {
  margin: 0 auto;
  max-width: 24rem;
}
@media screen and (min-width: 768px) {
  .rest-section .rest-cards-container {
    margin-top: 2rem;
    max-width: 55rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
@media screen and (min-width: 1440px) {
  .rest-section .rest-cards-container {
    max-width: 90rem;
  }
}

.restaurant-image {
  height: 17rem;
  object-fit: cover;
}

.menu {
  position: relative;
  padding: 2.4rem 0.8rem;
  top: -3.5rem;
  margin-bottom: -3.5rem;
  background-color: #f6f6f6;
  border-top-left-radius: 2.4rem;
  border-top-right-radius: 2.4rem;
}
.menu__container {
  margin: 0 auto;
  position: relative;
  max-width: 30rem;
}
@media screen and (min-width: 1024px) {
  .menu__container {
    width: 90%;
    max-width: unset;
  }
}
.menu__title {
  padding-left: 0.4rem;
  font-size: 1.75rem;
  font-weight: 500;
}
@media screen and (max-width: 368px) {
  .menu__title {
    font-size: 1.5rem;
  }
}
.menu__favorite-btn {
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 368px) {
  .menu__favorite-btn {
    top: 2rem;
  }
}
.menu__order-btn {
  padding-top: 2rem;
  display: grid;
  place-items: center;
}

.menu-step-title {
  position: relative;
  padding-top: 2.4rem;
  margin-left: 0.4rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
}
.menu-step-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.6rem;
  height: 0.2rem;
  width: 2.5rem;
  background-color: #98e2cf;
}

/* ******************************** */
/*          Media Queries          */
/* ******************************** */
@media screen and (min-width: 576px) {
  .menu {
    max-width: 36rem;
    margin: 0 auto -3.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .menu {
    max-width: 53rem;
  }

  .menu__steps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 3rem;
  }

  .menu-item {
    width: 21.5rem;
  }
}
@media screen and (min-width: 1291px) {
  .menu {
    max-width: 81rem;
  }
}

/*# sourceMappingURL=style.css.map */
