@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&family=Shrikhand&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  outline: none;
}

form input {
  font-family: inherit;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: black;
}

:root {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

img {
  width: 100%;
}

:root {
  font-size: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", "Roboto", sans-serif;
}

header {
  -webkit-box-shadow: 0px 3px 3px #ccc;
  -moz-box-shadow: 0px 3px 3px #ccc;
  box-shadow: 0px 3px 3px #ccc;
  position: relative;
}

.header-logo {
  padding: 1.3rem 0 0.8rem;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  color: black;
}

.primary-btn {
  padding: 1.1rem 1.5rem;
  margin: 1rem 0;
  background: linear-gradient(170deg, #FF79DA, #9356dc);
  border-radius: 9999px;
  color: white;
  -webkit-box-shadow: 0px 5px 10px #999;
  -moz-box-shadow: 0px 5px 10px #999;
  box-shadow: 0px 5px 10px #999;
  transition: all 150ms ease-in;
}
.primary-btn:hover {
  background: linear-gradient(170deg, #ff93e1, #a16be0);
  color: white;
  -webkit-box-shadow: 0px 8px 15px #999;
  -moz-box-shadow: 0px 8px 15px #999;
  box-shadow: 0px 8px 15px #999;
}
.primary-btn:focus {
  color: white;
}
.primary-btn:active {
  color: white;
}

.location-search {
  background-color: #EAEAEA;
}

.location-form {
  width: 12rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #353535;
  padding: 1rem 0;
}
.location-form__label {
  width: 20%;
  text-align: center;
  font-size: 1rem;
}
.location-form__input {
  width: 80%;
  padding-left: 0.2rem;
  color: #353535;
  font-weight: 600;
  font-size: 1rem;
}

.home .back-btn {
  display: none;
}

.hero {
  background-color: #F6F6F6;
  padding: 2.5rem 0;
  text-align: center;
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}
.hero__title {
  padding: 0 1rem;
  line-height: 1.8rem;
}
.hero__text {
  padding: 1.2rem 0;
  font-size: 1.125rem;
  font-weight: 300;
}

.step-section {
  padding: 1rem;
}
.step-section h2 {
  padding-top: 2rem;
}
.step-section .step-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.2rem;
  padding-bottom: 2rem;
}

.step-item {
  width: 90%;
  margin: 0.6rem 0 0.6rem 1rem;
  padding: 1.8rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  background-color: #F6F6F6;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 3px 6px #ccc;
  -moz-box-shadow: 0px 3px 6px #ccc;
  box-shadow: 0px 3px 6px #ccc;
}
.step-item__number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -1rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
  font-size: 0.875rem;
}
.step-item__logo {
  color: rgba(0, 0, 0, 0.5);
}
.step-item__text {
  padding-left: 1.5rem;
  font-weight: 600;
}

.step-item-highlight {
  background-color: #f2eafb;
}
.step-item-highlight .step-item__logo {
  color: #9356dc;
}

.rest-section {
  background-color: #F6F6F6;
}

/*# sourceMappingURL=style.css.map */
