.back-btn {
  width: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  left: 1.5rem;

  i {
    font-size: $fs-700;
  }
}

.primary-btn {
  padding: 1.1rem 1.5rem;
  margin: 1rem 0;

  background: linear-gradient(350deg, $clr-primary, $clr-secondary);
  border-radius: 9999px;
  color: white;
  @include box-shadow(0px, 5px, 10px, 0px, #999);

  outline: none;
  transition: all 150ms ease-in;

  &:hover,
  &:focus,
  &:active {
    background: linear-gradient(
      170deg,
      $clr-secondary-light,
      $clr-primary-light
    );
    color: white;
    @include box-shadow(0px, 8px, 15px, 0px, #999);
  }
}

.favorite-btn {
  width: 2rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
  z-index: 5;
  @include flex-row;
  
  &__icon {
    position: absolute;
    font-size: $fs-700;
  }

  &__icon--unchecked {
    transform: scale(1);
    transition: transform 150ms ease-in;
  }

  &__icon--checked {
    opacity: 0;
    background: linear-gradient(190deg, $clr-primary, $clr-secondary);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  &:hover {
    .favorite-btn__icon--unchecked {
      transform: scale(0);
    }
    .favorite-btn__icon--checked {
      transform: scale(0);
      animation: favorite 150ms ease-out 150ms both;
    }
  }
}

@keyframes favorite {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
