.primary-btn {
    padding: 1.1rem 1.5rem;
    margin: 1rem 0;

    background: linear-gradient(170deg, $clr-secondary, $clr-primary);
    border-radius: 9999px;
    color: white;
    @include box-shadow(0px, 5px, 10px, #999);
    
    transition: all 150ms ease-in;
    
    &:hover {
        background: linear-gradient(170deg, $clr-secondary-light, $clr-primary-light);
        color: white;
        @include box-shadow(0px, 8px, 15px, #999);
    }
    &:focus {
        color: white;
    }
    &:active {
        color: white;
    }
}