.menu-item {
  position: relative;
  margin-top: 0.9rem;
  padding: 0.9rem 0.7rem 0.8rem;
  background-color: white;
  border-radius: 1rem;

  @include box-shadow(-2px, 4px, 8px, 4px, rgba(0, 0, 0, 0.04));

  &:first-child {
    margin-top: 1.5rem;
  }

  &__title {
    padding-bottom: 0.5rem;
    font-size: $fs-500;
  }

  &__description {
    font-size: 0.938rem;
  }

  &__price {
    position: absolute;
    bottom: 0.8rem;
    right: 1.3rem;
    font-size: $fs-300;
    font-weight: $fw-bold;
  }

  &__checked {
    display: none;
  }
}
