.menu-item {
  position: relative;
  margin-top: 0.9rem;
  padding: 0.9rem 0.7rem 0.8rem;
  background-color: white;
  border-radius: 1rem;
  @include box-shadow(-2px, 4px, 8px, 4px, rgba(2, 1, 1, 0.04));

  &:first-child {
    margin-top: 1.5rem;
  }

  &__title {
    padding-bottom: 0.5rem;
    font-size: $fs-500;
  }

  &__description {
    font-size: 0.938rem;
  }

  &__price {
    position: absolute;
    bottom: 0.8rem;
    right: 1.3rem;
    font-size: $fs-300;
    font-weight: $fw-bold;
  }

  &__checked {
    display: none;
  }

  animation: appearance 1000ms ease-out both;

  @for $i from 1 to 11 {
    &__#{$i} {
      animation-delay: 150ms * ($i - 1);
    }
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
    transform: translateY(0.8rem);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
