.menu-item {
  @include flex-row;
  justify-content: space-between;
  position: relative;
  margin-top: 0.9rem;
  padding: 0.9rem 0.7rem 0.8rem;
  background-color: white;
  border-radius: 1rem;
  @include box-shadow(-2px, 4px, 8px, 4px, rgba(2, 1, 1, 0.04));
  overflow: hidden;

  &:first-child {
    margin-top: 1.5rem;
  }

  &__designation {
    @include word-ellipsis;
  }

  &__title {
    padding-bottom: 0.5rem;
    font-size: $fs-500;
    @include word-ellipsis;
  }

  &__description {
    font-size: 0.938rem;
    @include word-ellipsis;
  }

  &__price {
    align-self: flex-end;
    font-size: $fs-300;
    font-weight: $fw-bold;
    border: 1px solid red;
  }

  &__checked {
    display: none;
  }

  animation: itemAppearance 1000ms ease-out both;

  @for $i from 1 to 11 {
    &__#{$i} {
      animation-delay: 150ms * ($i - 1);
    }
  }
}

@keyframes itemAppearance {
  0% {
    opacity: 0;
    transform: translateY(0.8rem);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
