.rest-card {
  position: relative;
  margin: 1rem 0;
  border-radius: 1rem;
  @include box-shadow(0px, 5px, 10px, 0px, #999);
  transition: all 150ms ease-in;
  z-index: 0;

  &:hover {
    @include box-shadow(0px, 8px, 15px, 0px, #999);
    transform: scale(1.005);
  }

  &__image {
    height: 11rem;
  }

  &__image img {
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  &__body {
    @include flex-row;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  &__title {
    padding-bottom: 0.5rem;
  }

  &__new-flag {
    padding: 0.5rem 0.8rem 0.4rem;
    position: absolute;
    top: 0.9rem;
    right: 0.7rem;
    background-color: $clr-tertiary;
    border-radius: 0.1rem;
    color: #00876c;
    font-size: $fs-300;
    font-weight: $fw-bold;
  }

  &__btn-container {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    @include flex-row;
  }

  @include mq(tablet) {
    margin: 0;
    min-width: 20rem;
    max-width: 26rem;
    flex: 1 0 20rem;
  }
}
