.homepage .back-btn {
  display: none;
}

/* ******************************** */
/*           Hero section           */
/* ******************************** */

.hero {
  background-color: $clr-bg-light;
  padding: 2.5rem 0;
  text-align: center;

  @include mq(tablet) {
    padding: 3rem 0;
  }
  @include mq(desktop) {
    padding: 4rem 0;
  }
  @include mq(desktoplg) {
    padding: 5rem 0;
  }

  &__wrapper {
    @include flex-col;
    width: 90%;
    margin: 0 auto;
  }

  &__title {
    line-height: 1.8rem;
    width: 15rem;

    @media screen and (min-width: 500px) {
      width: 100%;
    }

    @include mq(tablet) {
      color: $clr-bg-light;
      padding: 0.5rem 0;
    }
    @include mq(desktop) {
      font-size: $fs-800;
      padding: 1rem 0;
    }
    @include mq(desktoplg) {
      font-size: $fs-900;
      padding: 1.5rem 0;
    }
  }

  &__text {
    padding: 1.2rem 0;
    font-size: $fs-500;
    font-weight: $fw-light;

    @media screen and (max-width: 340px) {
      font-size: $fs-400;
    }

    @media screen and (min-width: 450px) {
      max-width: 20rem;
    }

    @include mq(tablet) {
      color: $clr-bg-light;
    }
    @include mq(desktop) {
      font-size: $fs-600;
      max-width: 28rem;
    }
    @include mq(desktoplg) {
      font-size: $fs-700;
    }
  }

  @include mq(tablet) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05)),
      url("../../public/img/hero/hero-800w.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
  }
  @include mq(desktop) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05)),
      url("../../public/img/hero/hero-1440w.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
  }
  @include mq(desktoplg) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05)),
      url("../../public/img/hero/hero-2200w.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
  }
}

.hero__btn,
.hero__btn:hover {
  @include mq(tablet) {
    box-shadow: none;
  }
}

/* ******************************** */
/*           Step section           */
/* ******************************** */

.step-section {
  padding: 1rem;

  @include mq(desktop) {
    padding: 3.5rem 1rem;
  }

  .step-section-title {
    align-self: flex-start;
    padding-top: 2rem;

    @include mq(mobilelg) {
      text-align: center;
    }
  }

  .step-items-container {
    @include flex-col;
    max-width: 30rem;
    margin: 0 auto;
    padding-top: 1.2rem;
    padding-bottom: 2rem;

    @include mq(desktop) {
      flex-direction: row;
      max-width: 1340px;
      gap: 2rem;
      justify-content: center;
    }
  }
}

/* ******************************** */
/*       Restaurant section         */
/* ******************************** */

.rest-section {
  padding: 1.2rem;
  padding-bottom: 3rem;
  background-color: $clr-bg-light;

  @include mq(tablet) {
    padding-bottom: 4rem;
  }

  .rest-section-title {
    padding-top: 2.3rem;
    padding-bottom: 0.6rem;

    @include mq(mobilelg) {
      text-align: center;
    }
  }

  .rest-cards-container {
    margin: 0 auto;
    max-width: 24rem;

    @include mq(tablet) {
      margin-top: 2rem;
      max-width: 55rem;
      @include flex-row;
      flex-wrap: wrap;
      gap: 2rem;
    }

    @include mq(desktoplg) {
      max-width: 90rem;
    }
  }
}
