.home .back-btn {
    display: none;
}

// Hero

.hero {
    background-color: $clr-bg-light;
    padding: 2.5rem 0;
    text-align: center;

    &__wrapper {
        @include flex-col;
        width: 85%;
        margin: 0 auto;
    }

    &__title {
        padding: 0 1rem;
        line-height: 1.8rem;
    }

    &__text {
        padding: 1.2rem 0;
        font-size: $fs-500;
        font-weight: $fw-light;
    }
}