.restaurant-image {
  height: 17rem;
  object-fit: cover;
}

.menu {
  position: relative;
  padding: 2.4rem 0.8rem;
  position: relative;
  top: -3.5rem;
  margin-bottom: -3.5rem;
  background-color: $clr-bg-light;
  border-top-left-radius: 2.4rem;
  border-top-right-radius: 2.4rem;

  &__title {
    padding-left: 0.4rem;
    font-size: $fs-800;
    font-weight: 500;
  }

  &__favorite-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  &__order-btn {
      padding-top: 2rem;
      display: grid;
      place-items: center;
  }
}

.menu-step-title {
  position: relative;
  padding-top: 2.4rem;
  margin-left: 0.4rem;
  text-transform: uppercase;
  font-size: $fs-400;
  font-weight: $fw-regular;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.6rem;
    height: 0.2rem;
    width: 2.5rem;
    background-color: $clr-tertiary;
  }
}
