.restaurant-image {
  height: 17rem;
  object-fit: cover;
}

.menu {
  position: relative;
  padding: 2.4rem 0.8rem;
  top: -3.5rem;
  margin-bottom: -3.5rem;
  background-color: $clr-bg-light;
  border-top-left-radius: 2.4rem;
  border-top-right-radius: 2.4rem;

  &__container {
    margin: 0 auto;
    position: relative;
    max-width: 30rem;

    @include mq(desktop) {
      width: 90%;
      max-width: unset;
    }
  }

  &__title {
    padding-left: 0.4rem;
    font-size: $fs-800;
    font-weight: 500;

    @media screen and (max-width: 368px) {
      font-size: $fs-700;
    }
  }

  &__favorite-btn {
    position: absolute;
    top: -0.3rem;
    right: -0.1rem;
  }

  &__order-btn {
    padding-top: 2rem;
    display: grid;
    place-items: center;
  }
}

.menu-step-title {
  position: relative;
  padding-top: 2.4rem;
  margin-left: 0.4rem;
  text-transform: uppercase;
  font-size: $fs-400;
  font-weight: $fw-regular;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.6rem;
    height: 0.2rem;
    width: 2.5rem;
    background-color: $clr-tertiary;
  }
}

/* ******************************** */
/*          Media Queries          */
/* ******************************** */

@include mq(mobilelg) {
  .menu {
    max-width: 36rem;
    margin: 0 auto -3.5rem;
  }
}
@include mq(desktop) {
  .menu {
    max-width: 53rem;
  }
  .menu__steps-container {
    @include flex-row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 3rem;
  }
  .menu-item {
    width: 21.5rem;
  }
}
@media screen and (min-width: 1291px) {
  .menu {
    max-width: 81rem;
  }
}
